<footer class="page-footer bg-primary">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">PI<span style="font-size: 1.4rem;">blogs</span></h5>
          <p class="grey-text text-lighten-4">Thanks for reading! We hope you found our content helpful. Feel free to explore our website for more interesting topics.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="{% url 'about' %}">About</a></li>
            <li><a class="grey-text text-lighten-3" href="/admin">Admin</a></li>
            <li><a class="grey-text text-lighten-3" href="/category">Category</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align" style="font-size: 1.5rem ;">
        © 2023 PI<span style="font-size: 1.3rem;">blogs</span>. All Rights Reserved.
      </div>
    </div>
  </footer>